@font-face
{
    font-family: "Wonder";
    src: url("../res/fonts/Wonder.ttf");
}

body
{
    margin 0;
    background: black;
}

.background_image
{
    position:absolute;
    width:100%;
    height:200%;
    background-image:url(images/Background-Image.png);
    background-size: cover;
}

.content
{
    position:absolute;
    width:100%;
    top:100%;
    height:auto;
}

.logo-container
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
}

.torch1
{    
    margin-left: 25%;
    margin-top: 12%;
    
    width: 120px;
    height: 120px;
    background-image: url("../res/textures/SpriteSheets/Torch.png");
    
    -webkit-animation: play .8s steps(8) infinite;
    -moz-animation: play .8s steps(8) infinite;
    -ms-animation: play .8s steps(8) infinite;
    -o-animation: play .8s steps(8) infinite;
    animation: play .8s steps(8) infinite;
}

.torch2
{    
    margin-left: 75%;
    margin-top: -6%;
    
    width: 120px;
    height: 120px;
    background-image: url("../res/textures/SpriteSheets/Torch.png");
    
    -webkit-animation: play .8s steps(8) infinite;
    -moz-animation: play .8s steps(8) infinite;
    -ms-animation: play .8s steps(8) infinite;
    -o-animation: play .8s steps(8) infinite;
    animation: play .8s steps(8) infinite;
}

@-webkit-keyframes play {
    from { background-position: 0px;}
    to { background-position: -960px;}
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -960px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -960px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -960px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -960px; }
}


.bob
{
    margin-left: 45%;
    margin-top: -1%;
    width: 240px;
    height: 240px;
    background-image: url("images/Bob_spritesheet.png");
    
    -webkit-animation: playBob 1s steps(8) infinite;
    -moz-animation: playBob 1s steps(8) infinite;
    -ms-animation: playBob 1s steps(8) infinite;
    -o-animation: playBob 1s steps(8) infinite;
    animation: playBob 1s steps(8) infinite;
}

@-webkit-keyframes playBob {
    from { background-position: 0px;}
    to { background-position: -1920px;}
}

@-moz-keyframes playBob {
   from { background-position:    0px; }
     to { background-position: -1920px; }
}

@-ms-keyframes playBob {
   from { background-position:    0px; }
     to { background-position: -1920px; }
}

@-o-keyframes playBob {
   from { background-position:    0px; }
     to { background-position: -1920px; }
}

@keyframes playBob {
   from { background-position:    0px; }
     to { background-position: -1920px; }
}



.details-container
{
    margin-top: 700px;
    color: #ffe001;
    margin-left: 20%;
    margin-right: 20%;

}

.details-container h1
{
    font-family: "Wonder";
    color: #ffe001;
    font-size: 32pt;
    text-align: center;
}

.info
{
        margin-top: 80px;
}

.details-container p
{
    font-size: 16pt;
    font-family: Sans-Serif;
    color: white;
}

.Button-container
{
    padding-top: 80px;
    text-align: center;
    padding-bottom: 200px;
}

.btn {
  background-color: #ffe001;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
font-weight: 600;
    
}

.btn:hover {
  background: #f77823;
  text-decoration: none;
}

.dev-info
{
    margin-left: 30%;
}
.img-container
{
    float: left;
}

.mark
{
    padding-left: 250px;
}

